<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw314.tw314mobile">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_tw314_medio"
        android:label="TW314"
        android:supportsRtl="true" >

        <!-- PERMISSOES DE ACESSO -->
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" />

        <!-- ACTIVITY DA TELA DE ACESSO -->
        <activity android:name=".layout.AccessActivity"
            android:theme="@style/PresentationTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ACTIVITY DA TELA PRINCIPAL -->
        <activity android:name=".layout.MainLayoutActivity"
            android:theme="@style/AppTheme">
        </activity>

        <!-- ACTIVITY DA TELA DE FAQ -->
        <activity android:name=".layout.FaqActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".layout.MainLayoutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".layout.MainLayoutActivity" />
        </activity>

        <!-- ACTIVITY DA TELA DE SOBRE -->
        <activity android:name=".layout.AboutActivity"
            android:theme="@style/PresentationTheme">
        </activity>

        <!-- ACTIVITY DA TELA DE PREFERENCIAS -->
        <activity android:name=".layout.SettingsActivity"
            android:parentActivityName=".layout.MainLayoutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".layout.MainLayoutActivity" />
        </activity>
    </application>

</manifest>