<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw314.tw314mobile">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_tw314_medio"
        android:label="TW314"
        android:supportsRtl="true" >

        <!-- ACTIVITY DA TELA DE ACESSO -->
        <activity android:name=".AccessActivity"
            android:theme="@style/PresentationTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ACTIVITY DA TELA PRINCIPAL -->
        <activity android:name=".MainLayoutActivity"
            android:theme="@style/AppTheme">
        </activity>

        <!-- ACTIVITY DA TELA DE FAQ -->
        <activity android:name=".FaqActivity"
            android:theme="@style/AppTheme">
        </activity>

        <!-- ACTIVITY DA TELA DE SOBRE -->
        <activity android:name=".AboutActivity"
            android:theme="@style/PresentationTheme">
        </activity>
    </application>

</manifest>